html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:top;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none;color:#333}a:hover{text-decoration:none}a:hover{text-decoration:none}
body{
	overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
}
/* =========================== RESET */
.gradient{
    background:linear-gradient(160deg, #0575e6, #021b79);
    min-height: 100vh;
}
.logoFatec{
    width: 250px;
    text-align: center;
    margin: auto;
    filter: brightness(0) invert(1);
}
.logo{
    width: 300px;
    text-align: center;
    margin: 30px auto;
    filter: brightness(0) invert(1);
}
.input-professor {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.label{
    color: white;
    text-align: left;
}
#content-opcoes{
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
#content-opcoes > .opcoes {
    width: 49%;
    display: inline-block;
    margin: 7px 3px;
   /* margin: calc(50vh - 100px) 0;*/
    min-height: 200px; 
    border: solid 1px #c8c8c8;
    border-radius: 10px;
    background-color: #f7f7f7;
}

#content-opcoes > .opcoes > h2{
    font-size: 2em;
    margin: 10px 0;
}
.btnAcesso{
    padding: 10px;
    background: linear-gradient(160deg, #0575e6, #021b79);
    border: solid 2px #021b79;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    font-weight: bold;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.btnAcesso:hover{
    background:  transparent;
    color: #021b79;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.content{
    padding: 10px;
    text-align: justify;
    width: 90%;
    margin: 0 auto;
}
.btnAgendar{
    width: 100%;
    background-color: #777;
    border: solid 1px #777;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    padding: 10px;
}
.btnAgendar:hover{
    background-color: transparent;
    border: solid 2px #333;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.btnAceitar{
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 48.5%;
    margin: 5px 3px;
    border:none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all ease-in 0.2;
}

.btnRecusar{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 48.5%;
    margin: 5px 3px;
    border:none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all ease-in 0.2;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-link{
    padding: 2px 8px;
    font-size: 30px;
    background-color: #fff;
    border-radius: 8px;
    margin: 8px;
    color: #000;
    text-decoration: none;
    line-height: 20px;
    padding: 0 4px 4px;
}

.table {
    border-radius: 8px;
    background-color: white;
    color: #333;
    border-spacing: 0 4px;
    border-collapse: separate;
}

.table tr td, .table tr th {
    text-align: center;
    padding: 8px;
}

.table tr th {
    font-weight: bold;
    border-bottom: 2px solid#e9e9e9;
}

.table tr {
    border: transparent;
}

.table tr td.errorTxt {
    font-weight: bold;
    color: #C52233;
}

.table tr td.successTxt {
    font-weight: bold;
    color: #3C896D;
}

.table tr td.warningTxt {
    font-weight: bold;
    color: #FF9F1C;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }